<nav th:fragment="menu-principal" class="navbar navbar-dark bg-dark navbar-expand-md fixed-top" style="background-color: #17A589;">
        <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/images/log.png}" width="90" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/}"><strong>Inicio</strong></a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador')">
              <!--<a class="nav-link" th:href="@{/categorias/index}">Categorias</a>-->
              <a class="nav-link" th:href="@{/categorias/indexPaginado}"><strong>Tipos de velas</strong></a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador ')">
              <a class="nav-link" th:href="@{/vacantes/indexPaginado}"><strong>Velas</strong></a>
            </li>    
            
            <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador')">
              <a class="nav-link" th:href="@{/usuarios/indexPaginado}"><strong>Agregar administrador</strong></a>
            </li>  
            
            <li class="nav-item">
              <a class="nav-link" th:href="@{/acerca}"><strong>Ubicación</strong></a>
            </li>
            
                  
          </ul>  
          <div sec:authorize="isAnonymous()"> 
          <a class="btn btn-outline-success" th:href="@{/index}">Ingresar</a>&nbsp;
          <!--<a class="btn btn-outline-dark" th:href="@{/crear}">Registrarse</a>&nbsp;-->
          </div>
          
          <!--<span th:if="${session.usuario != null}" class="text-light" th:text="'Bienvenido: ' + ${session.usuario.nombre}"></span>&nbsp; -->
          <div sec:authorize="isAuthenticated()">
          <span class="text-light"><strong>Bienvenido:</span>&nbsp;<span class="text-light" sec:authentication="name"></strong></span>&nbsp;
          <a class="btn btn-outline-success" th:href="@{/logout}">Salir</a>
        </div>
        </div>
      </nav>