<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Estación Vela</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="fragmentos/menu.html::menu-principal">
      
    </header><br>
    

    <main role="main">

     
      
      <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000">
      <img th:src="@{/images/sli1.gif}" class="d-block w-100" alt="..." width="600" height="400">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img th:src="@{/images/sli2.gif}" class="d-block w-100" alt="..." width="600" height="400">
    </div>
    <div class="carousel-item" data-interval="10000">
      <img th:src="@{/images/sli3.gif}" class="d-block w-100" alt="..." width="600" height="400">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      <br><br><br>
      <div class="container"> 
        <h4 class="font-weight-bold text-center text-capitalize text-dark">Lo mas Destacado</h4>
        <div class="row  border border-dark rounded" th:each="vacante:${vacantes}">
          <div class="col-md-3 ">            
            <img class="rounded mx-auto d-block" th:src="@{/logos/{img}(img=${vacante.imagen})}" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <h2 th:text="${vacante.nombre}"></h2>
            <h6 class="card-title"><strong>Tipo de vela: </strong> <span th:text="${vacante.categoria.nombre}"></span></h6>
            <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${vacante.fecha}"></span></h6>                
            <p th:text="${vacante.descripcion}"></p>
            <p><a class="btn btn-secondary" th:href="@{/vacantes/detalle(id=${vacante.id})}" role="button">Ver detalles &raquo;</a></p>            
          </div>
        </div>  
		  <hr>	
      </div> <!-- /container -->

    </main>

    <footer class="footer" th:insert="fragmentos/pie.html::pie">
      
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
